/*******************************
          Global Styles
********************************/

@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash|Roboto');
/* font-family: 'Berkshire Swash', cursive;
font-family: 'Roboto', sans-serif;*/

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

/*******************************
          Layout Styles
********************************/

.navbar-default .navbar-brand {
  font-family: 'Berkshire Swash', cursive;
  font-size: 1.66em;
  background-image: -webkit-linear-gradient(left, #fba105, #B2110B, #B2110B, #000);
  background-image: -moz-linear-gradient(left, #fba105, #B2110B, #B2110B, #000);
  background-image: -ms-linear-gradient(left, #fba105, #B2110B, #B2110B, #000);
  background-image: -o-linear-gradient(left, #fba105, #B2110B, #B2110B, #000);
  background-image: linear-gradient(to right, #fba105, #B2110B, #B2110B, #000);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.navbar-default .navbar-collapse {
  position: fixed;
  top: 50px;
  z-index: 99999;
  width: 100%;
  background-color: #f9f9f9;
}

#statPage {
  display: none;
}

.circle {
  width: 200px;
  height: 200px;
  margin: 10px auto;
  background-color: tomato;
  border-radius: 50%;
  line-height: 200px;
  text-align: center;
  font-size: 100px;
  background-image: url("img/fire.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1px;
  transition: all .5s ease;
}

.info-div {
  text-align: center;
  margin: 20px 0;
}

.info-div>p:last-child {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

/*** Stat Page ***/

#graficon {
  height: 160px;
  margin-top: 30px;
  border-bottom: 2px solid gray;
  border-left: 2px solid gray;
  background-color: #f9f9f9;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  box-sizing: content-box;
}

.cigPerDay {
  width: 25px;
  height: 100%;
  background: linear-gradient(black, red, yellow);
}

.cover {
  width: 25px;
  height: 160px;
  background-color: #f9f9f9;
  transition: all 1s ease;
}

.seven-days {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.day {
  width: 25px;
  text-align: center;
  margin-left: 3px;
}

/*** END Stat Page ***/

/*** Info Page ***/

.quitBenefitsLi {
  list-style: none;
}

#quitInfoPage h3 {
  font-family: 'Berkshire Swash', cursive;
  line-height: 30px;
  background-image: -webkit-linear-gradient(left, #fba105, #B2110B, #B2110B, #000);
  background-image: -moz-linear-gradient(left, #fba105, #B2110B, #B2110B, #000);
  background-image: -ms-linear-gradient(left, #fba105, #B2110B, #B2110B, #000);
  background-image: -o-linear-gradient(left, #fba105, #B2110B, #B2110B, #000);
  background-image: linear-gradient(to right, #fba105, #B2110B, #B2110B, #000);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.quitBenefitsLi h5 {
  font-weight: bold;
  font-size: 16px;
  background-image: -webkit-linear-gradient(left, #B2110B, #197d26, #197d26);
  background-image: -moz-linear-gradient(left, #B2110B, #197d26, #197d26);
  background-image: -ms-linear-gradient(left, #B2110B, #197d26, #197d26);
  background-image: -o-linear-gradient(left, #B2110B, #197d26, #197d26);
  background-image: linear-gradient(to right, #B2110B, #197d26, #197d26);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

/*** END Info Page ***/

footer {
  height: 50px;
  line-height: 50px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: cadetblue;
  width: 100%;
  font-weight: bold;
  color: white;
}

footer img {
  height: 14px;
  margin: 0 6px;
  margin-bottom: 5px;
}

/*******************************
          Specific Styles
********************************/

.fa-check-circle {
  color: #B2110B;
}

/*******************************
          Helper Classes
********************************/

.margin-bottom-50 {
  margin-bottom: 50px;
}