/*******************************
          Global Styles
********************************/

* {
  margin: 0;
  padding: 0;
}

/*******************************
          Layout Styles
********************************/

.navbar-brand {
  padding: 5px 15px;
}

.navbar-brand img {
  height: 40px;
}

#statPage {
  display: none;
}

.circle {
  width: 200px;
  height: 200px;
  margin: 10px auto;
  background-color: tomato;
  border-radius: 50%;
  line-height: 200px;
  text-align: center;
  font-size: 100px;
  background-image: url("img/fire.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1px;
  transition: all .5s ease;
}

.info-div {
  text-align: center;
  margin: 20px 0;
}

.info-div>p:last-child {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

/*** Stat Page ***/

#graficon {
  height: 160px;
  margin-top: 30px;
  border-bottom: 2px solid gray;
  border-left: 2px solid gray;
  background-color: #f9f9f9;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  box-sizing: content-box;
}

.cigPerDay {
  width: 25px;
  height: 100%;
  background: linear-gradient(black, red, yellow);
}

.cover {
  width: 25px;
  height: 160px;
  background-color: #f9f9f9;
  transition: all .7 ease;
}

.seven-days {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

.day {
  width: 25px;
  text-align: center;
  margin-left: 3px;
}

footer {
  height: 50px;
  line-height: 50px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: cadetblue;
  width: 100%;
  font-weight: bold;
  color: white;
}

footer img {
  height: 14px;
  margin: 0 6px;
  margin-bottom: 5px;
}

/*******************************
          Specific Styles
********************************/

/*******************************
          HElper Classes
********************************/